/* --- Global ---*/
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body img{
	position: relative;
}

nav{
	padding: 0;
	margin: 0 auto;
	height: 10%;
}

nav a {
	background-color: rgba(255,255,255, 0.5);
}

nav a:hover {
	background-color: rgba(128,128,128, 0.5);
}
/* --- Home Page --- */

.doorframe {
	height: 450px;
}

#nav {
	width: 70%;
	height: 15%;
}

#homePage {
	background-image:url("../images/brick.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

#mainGallery {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#aboutOne {
	background-image:url("../images/room/Blue.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
